.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: indigo;
    color:aliceblue;
}

/* .header-name, .header-menu{
    margin: 0 auto;
} */

.header-name{
    padding: 0 20px;
}

.header-menu ul li a{
    padding: .6em 1em;
    background: #2f2d31;
    color:aliceblue;
    display:block;
}

.header-name{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.625em;
}

.header-name ul li a{
    display: block;
}

@media screen and (max-width: 450px){

    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header h1{
        text-align: center;
    }
}
